@using System.Reflection
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Com.WIC.Client.Web</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/wrds.svg" width="24" height="24" alt="Words in context" /> Words in Context</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    @{
                        Version v = Assembly.GetExecutingAssembly().GetName().Version;
                        string About = string.Format(CultureInfo.InvariantCulture, @"Words in context {0}.{1}.{2} (r{3})", v.Major, v.Minor, v.Build, v.Revision);
                    }
                    <p class="text-debug">@About</p>
                </div>
                <div class="col text-right">
                    &copy; 2019 - <a href="https://www.jancerveny.net">jancerveny.net</a> &amp; <a href="http://www.bleha.eu">bleha.eu</a>.
                </div>
            </div>
        </div>
    </footer>

    <script src="https://www.google.com/recaptcha/api.js?render=6LdEab4UAAAAAMSbyzZtaf_drwrorwy7rU0XL6jC"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LdEab4UAAAAAMSbyzZtaf_drwrorwy7rU0XL6jC', { action: 'homepage' }).then(function (token) {
                var gr = document.getElementById('g-recaptcha-response');
                if (gr) {
                    gr.value = token;
                }
            });
        });
    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
