@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => Model.Keyword, new { required = string.Empty, placeholder = "Enter the word to practice" })
            <button type="submit">Make my mp3</button>
        }
        @if (Model.Results != null && Model.Results.Count() > 0)
        {
            <h2>Results:</h2>
            @foreach (var r in Model.Results)
            {
                <p>@r</p>
            }
            @if(!string.IsNullOrWhiteSpace(Model.AudioFile))
            {
                <audio controls src="@Model.AudioFile" type="audio/ogg"></audio>
            }
        }
    </div>
