@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This application lets you practice words you need to rehearse in complete sentences, which were found in online books.</p>
        @using (Html.BeginForm())
        {
            <div class="input-group mb-3">
                @Html.TextBoxFor(x => Model.Keyword, new { required = string.Empty, pattern = "[A-Za-z]{3,}", maxlength = 10, placeholder = "Enter the word to practice", @class = "form-control" })
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Let me hear it</button>
                </div>
            </div>
        }
        @if (Model.Results != null && Model.Results.Count() > 0)
        {
            <h2>Results:</h2>
            @foreach (var r in Model.Results)
            {
                <p>@r</p>
            }
            @if (!string.IsNullOrWhiteSpace(Model.AudioFile))
            {
                <audio controls src="@Model.AudioFile" type="audio/ogg"></audio>
            }
        }
        @if(Model.Results == null && !string.IsNullOrWhiteSpace(Model.Keyword))
        {
            <p class="alert alert-warning mt-3">No sentences found with @Model.Keyword</p>
        }
    </div>
